{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your external server administrators.",
        "title": "Azure SQL Database API spec",
        "version": "2014-04-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serverAzureADAdministrators.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "sql-serverAzureADAdministrators",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators": {
            "get": {
                "description": "Returns a list of server Administrators.",
                "operationId": "ServerAzureADAdministrators_ListByServer",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response to a list Active Directory Administrators request.",
                                    "properties": {
                                        "value": {
                                            "description": "The list of server Active Directory Administrators for the server.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM proxy resource.",
                                                        "properties": {},
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An server Active Directory Administrator.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The properties of the resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "administratorType": {
                                                                "description": "The type of administrator.",
                                                                "enum": [
                                                                    "ActiveDirectory"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "name": "AdministratorType"
                                                                }
                                                            },
                                                            "login": {
                                                                "description": "The server administrator login value.",
                                                                "type": "string"
                                                            },
                                                            "sid": {
                                                                "description": "The server administrator Sid (Secure ID).",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            },
                                                            "tenantId": {
                                                                "description": "The server Active Directory Administrator tenant id.",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "tenantId",
                                                            "administratorType",
                                                            "login",
                                                            "sid"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ServerAdministrators"
                ],
                "x-ms-examples": {
                    "get a list of server administrators": {
                        "parameters": {
                            "api-version": "2014-04-01",
                            "resourceGroupName": "sqlcrudtest-4799",
                            "serverName": "sqlcrudtest-6440",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/providers/Microsoft.Sql/administrators/ActiveDirectory",
                                            "name": "ActiveDirectory",
                                            "properties": {
                                                "administratorType": "ActiveDirectory",
                                                "login": "DSEngAll",
                                                "sid": "5e90ef3b-9b42-4777-819b-25c36961ea4d",
                                                "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}": {
            "delete": {
                "description": "Deletes an existing server Active Directory Administrator.",
                "operationId": "ServerAzureADAdministrators_Delete",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the server administrator resource.",
                        "in": "path",
                        "name": "administratorName",
                        "required": true,
                        "x-ms-enum": {
                            "name": "ServerAdministratorName"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "activeDirectory"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ServerAdministrators"
                ],
                "x-ms-examples": {
                    "Delete a server administrator": {
                        "parameters": {
                            "administratorName": "activeDirectory",
                            "api-version": "2014-04-01",
                            "resourceGroupName": "sqlcrudtest-4799",
                            "serverName": "sqlcrudtest-6440",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": "OK"
                            },
                            "202": {
                                "body": "Accepted"
                            },
                            "204": {
                                "body": "No Content"
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Returns an server Administrator.",
                "operationId": "ServerAzureADAdministrators_Get",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the server administrator resource.",
                        "in": "path",
                        "name": "administratorName",
                        "required": true,
                        "x-ms-enum": {
                            "name": "ServerAdministratorName"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "activeDirectory"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ServerAdministrators"
                ],
                "x-ms-examples": {
                    "Get the Active Directory Administrator": {
                        "parameters": {
                            "administratorName": "activeDirectory",
                            "api-version": "2014-04-01",
                            "resourceGroupName": "sqlcrudtest-4799",
                            "serverName": "sqlcrudtest-6440",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory",
                                    "name": "activeDirectory",
                                    "properties": {
                                        "administratorType": "ActiveDirectory",
                                        "login": "bob@contoso.com",
                                        "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                                        "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates a new Server Active Directory Administrator or updates an existing server Active Directory Administrator.",
                "operationId": "ServerAzureADAdministrators_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the server administrator resource.",
                        "in": "path",
                        "name": "administratorName",
                        "required": true,
                        "x-ms-enum": {
                            "name": "ServerAdministratorName"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "activeDirectory"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An server Active Directory Administrator.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorType": {
                                                    "description": "The type of administrator.",
                                                    "enum": [
                                                        "ActiveDirectory"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "AdministratorType"
                                                    }
                                                },
                                                "login": {
                                                    "description": "The server administrator login value.",
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "description": "The server administrator Sid (Secure ID).",
                                                    "format": "uuid",
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The server Active Directory Administrator tenant id.",
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "tenantId",
                                                "administratorType",
                                                "login",
                                                "sid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ServerAdministrators"
                ],
                "x-ms-examples": {
                    "Create/Update a server administrator": {
                        "parameters": {
                            "administratorName": "activeDirectory",
                            "api-version": "2014-04-01",
                            "properties": {
                                "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory",
                                "name": "activeDirectory",
                                "properties": {
                                    "administratorType": "ActiveDirectory",
                                    "login": "bob@contoso.com",
                                    "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                                    "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                                }
                            },
                            "resourceGroupName": "sqlcrudtest-4799",
                            "serverName": "sqlcrudtest-6440",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory",
                                    "name": "activeDirectory",
                                    "properties": {
                                        "administratorType": "ActiveDirectory",
                                        "login": "bob@contoso.com",
                                        "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                                        "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                                    }
                                }
                            },
                            "201": {
                                "body": "Created"
                            },
                            "202": {
                                "body": "Accepted"
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "allOf": [
                                            {
                                                "description": "ARM resource.",
                                                "properties": {
                                                    "id": {
                                                        "description": "Resource ID.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Resource name.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "Resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object",
                                                "x-ms-azure-resource": true
                                            }
                                        ],
                                        "description": "ARM proxy resource.",
                                        "properties": {},
                                        "type": "object"
                                    }
                                ],
                                "description": "An server Active Directory Administrator.",
                                "properties": {
                                    "properties": {
                                        "description": "The properties of the resource.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "administratorType": {
                                                "description": "The type of administrator.",
                                                "enum": [
                                                    "ActiveDirectory"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "name": "AdministratorType"
                                                }
                                            },
                                            "login": {
                                                "description": "The server administrator login value.",
                                                "type": "string"
                                            },
                                            "sid": {
                                                "description": "The server administrator Sid (Secure ID).",
                                                "format": "uuid",
                                                "type": "string"
                                            },
                                            "tenantId": {
                                                "description": "The server Active Directory Administrator tenant id.",
                                                "format": "uuid",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "tenantId",
                                            "administratorType",
                                            "login",
                                            "sid"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The required parameters for creating or updating an Active Directory Administrator.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ServerAdministratorListResult": {
                "description": "The response to a list Active Directory Administrators request.",
                "properties": {
                    "value": {
                        "description": "The list of server Active Directory Administrators for the server.",
                        "items": {
                            "allOf": [
                                {
                                    "allOf": [
                                        {
                                            "description": "ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "ARM proxy resource.",
                                    "properties": {},
                                    "type": "object"
                                }
                            ],
                            "description": "An server Active Directory Administrator.",
                            "properties": {
                                "properties": {
                                    "description": "The properties of the resource.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "administratorType": {
                                            "description": "The type of administrator.",
                                            "enum": [
                                                "ActiveDirectory"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "name": "AdministratorType"
                                            }
                                        },
                                        "login": {
                                            "description": "The server administrator login value.",
                                            "type": "string"
                                        },
                                        "sid": {
                                            "description": "The server administrator Sid (Secure ID).",
                                            "format": "uuid",
                                            "type": "string"
                                        },
                                        "tenantId": {
                                            "description": "The server Active Directory Administrator tenant id.",
                                            "format": "uuid",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "tenantId",
                                        "administratorType",
                                        "login",
                                        "sid"
                                    ]
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ServerAdministratorProperties": {
                "description": "The properties of an server Administrator.",
                "properties": {
                    "administratorType": {
                        "description": "The type of administrator.",
                        "enum": [
                            "ActiveDirectory"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "AdministratorType"
                        }
                    },
                    "login": {
                        "description": "The server administrator login value.",
                        "type": "string"
                    },
                    "sid": {
                        "description": "The server administrator Sid (Secure ID).",
                        "format": "uuid",
                        "type": "string"
                    },
                    "tenantId": {
                        "description": "The server Active Directory Administrator tenant id.",
                        "format": "uuid",
                        "type": "string"
                    }
                },
                "required": [
                    "tenantId",
                    "administratorType",
                    "login",
                    "sid"
                ],
                "type": "object"
            },
            "ServerAzureADAdministrator": {
                "allOf": [
                    {
                        "allOf": [
                            {
                                "description": "ARM resource.",
                                "properties": {
                                    "id": {
                                        "description": "Resource ID.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Resource name.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "Resource type.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                            }
                        ],
                        "description": "ARM proxy resource.",
                        "properties": {},
                        "type": "object"
                    }
                ],
                "description": "An server Active Directory Administrator.",
                "properties": {
                    "properties": {
                        "description": "The properties of the resource.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "administratorType": {
                                "description": "The type of administrator.",
                                "enum": [
                                    "ActiveDirectory"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "name": "AdministratorType"
                                }
                            },
                            "login": {
                                "description": "The server administrator login value.",
                                "type": "string"
                            },
                            "sid": {
                                "description": "The server administrator Sid (Secure ID).",
                                "format": "uuid",
                                "type": "string"
                            },
                            "tenantId": {
                                "description": "The server Active Directory Administrator tenant id.",
                                "format": "uuid",
                                "type": "string"
                            }
                        },
                        "required": [
                            "tenantId",
                            "administratorType",
                            "login",
                            "sid"
                        ]
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "AdministratorNameParameter": {
                "description": "Name of the server administrator resource.",
                "in": "path",
                "name": "administratorName",
                "required": true,
                "x-ms-enum": {
                    "name": "ServerAdministratorName"
                },
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string",
                    "enum": [
                        "activeDirectory"
                    ]
                }
            },
            "DatabaseExpandParameter": {
                "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
                "in": "query",
                "name": "$expand",
                "required": false,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ServerNameParameter": {
                "description": "The name of the server.",
                "in": "path",
                "name": "serverName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "azure_auth": []
        }
    ]
}